.topnav a {
  float: left;
  color: white;
  text-align: left;
  padding: 14px 0px 0px 0px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
  /* background-color: #b0edee; */
  background-image: linear-gradient(
    to right,
    rgb(104, 204, 211),
    rgb(75, 216, 209)
  );
  font-feature-settings: "akhn";
  padding: 12px 0px 0px 12px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: rgb(199, 205, 233);
  color: white; */
  color: rgb(116, 81, 156);
}

.topnav a.welcometxt {
  position: absolute;
  top: -12px;
  right: 60px;
  font-size: 18px;
}

.topnav a.logoutTxt {
  position: absolute;
  top: 10px;
  right: 60px;
  font-size: 16px;
}

.fa {
  position: absolute;
  top: 6px;
  right:8px;
  font-size: 38px;
  -webkit-filter: invert(100%);
}
