/* .search-container{
    height: 0px;
    width: 180px;
    background-color: powderblue;
  }
  
  @media screen and (max-width: 600px) {
    .search-container {
      float: none;
    }
 .search-container button input[type=text]{
     
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }*/
   
  

  .myInput {
    background-image: url("https://img.icons8.com/cotton/23/000000/search--v2.png");
      background-position: 7px 7px;
    background-repeat: no-repeat;
    width: 585px;
    font-size: 12px;
    padding: 12px 20px 12px 40px;
    border: 2px solid #f1f4f7;
    margin-bottom: 0px;
    margin-left: 20px;
    text-align: left;
    }