.searchcontent{
    margin-top: 65px;
    
}

.pharmacyButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    
    
  }

  .doctorButton {
    background-color: rgb(24, 56, 143);
    border: none;
    color: white;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 150px;
  }

 