<div class = "searchcontent">
 <app-search_Table_Details (searchTextop) = 'searchPoduct($event)'></app-search_Table_Details>
 <span>
  <button style="position: absolute; right: 0;" class = "doctorButton"><i class="fa fa-stethoscope" aria-hidden="true"></i>Add Doctor</button><span></span>
  <button style="position: absolute; right: 0;" class = "pharmacyButton"><i class="fa fa-medkit" aria-hidden="true"></i>Add Pharmacy</button>
</span>
</div>
  <table>
    <tr>
    <th>Full Name</th>
    <th>Mobile No</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Practice Since</th>
    <th>Specialaization</th>
    <th>City</th>
    </tr>
    <tr *ngFor="let doctor of doctorDetails |table_details_search : searchText">
      <td>{{doctor.fullName}}</td>
      <td>{{doctor.mobileNo}}</td>
      <td>{{doctor.email}}</td>
      <td>{{doctor.gender}}</td>
      <td>{{doctor.practiceSince}}</td>
      <td>{{doctor.specialization}}</td>
      <td>{{doctor.city}}</td>
    </tr>
  </table>