.searchcontent {
  margin-top: 65px;
}

.pharmacyButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.doctorButton {
  background-color: rgb(2, 117, 216);
  border: none;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 150px;
}

.panel-heading {
  color: rgb(2, 117, 216);
  /* color: skyblue; */
}
  .doctor {
    font-family: "Trebuchet MS", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
  
  .doctor td, .doctor th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .doctor tr:nth-child(even){background-color: #f2f2f2;}
  
  .doctor tr:hover {background-color: #ddd;}
  
  .doctor th {
    padding-top:9px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: rgb(90, 79, 79);
  }  
  