<div class="searchcontent">
  <app-search_Table_Details
    (searchTextop)="searchPoduct($event)"
  ></app-search_Table_Details>
  <span>
    <button
      type="button"
      style="position: absolute; right: 0;"
      class="btn doctorButton"
      (click)="open(content)"
    >
      <i class="fa fa-stethoscope" aria-hidden="true"></i>Add Doctor</button
    ><span></span>
    <button
      type="button"
      style="position: absolute; right: 0;"
      class="btn pharmacyButton"
    >
      <i class="fa fa-medkit" aria-hidden="true"></i>Add Pharmacy
    </button>
  </span>
</div>

<table class="doctorTable">
  <tr>
    <th>Full Name</th>
    <th>Mobile No</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Practice Since</th>
    <th>Specialaization</th>
    <th>City</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let doctor of doctorDetails | table_details_search: searchText">
    <td>{{ doctor.firstName + " " + doctor.lastName }}</td>
    <td>{{ doctor.mobileNo }}</td>
    <td>{{ doctor.email }}</td>
    <td>{{ doctor.gender }}</td>
    <td>{{ doctor.practiceSince }}</td>
    <td>{{ doctor.specialization }}</td>
    <td>{{ doctor.city }}</td>
    <td><i class="fa fa-edit" aria-hidden="true"></i></td>
  </tr>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="panel-heading">
      <h4 class="modal-title" id="modal-basic-title">Doctor Details</h4>
    </div>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <!-- #formValues="ngForm" -->
      <form [formGroup]="registerForm" (ngSubmit)="save(registerForm.value)">
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <label for="firstName">First Name</label>
              <input
                type="text"
                formControlName="firstName"
                id="firstName"
                class="form-control"
                placeholder="First Name"
                [ngClass]="{
                  'is-invalid': submitted && forms.firstName.errors
                }"
              />
              <div
                *ngIf="submitted && forms.firstName.errors"
                class="invalid-feedback"
              >
                <div *ngIf="forms.firstName.errors.required">
                  First Name is required
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="lastName">Last Name</label>
              <input
                formControlName="lastName"
                id="lastName"
                type="text"
                class="form-control"
                placeholder="Last Name"
                [ngClass]="{
                  'is-invalid': submitted && forms.lastName.errors
                }"
              />
              <div
                *ngIf="submitted && forms.lastName.errors"
                class="invalid-feedback"
              >
                <div *ngIf="forms.lastName.errors.required">
                  Last Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="speciality">Speciality</label>
              <select
                id="speciality"
                formControlName="speciality"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && forms.speciality.errors
                }"
              >
                <option value="">Add Speciality(multi)</option>
                <option *ngFor="let item of specialities$">
                  {{ item.name }}
                </option>
              </select>
              <div
                *ngIf="submitted && forms.speciality.errors"
                class="invalid-feedback"
              >
                <div *ngIf="forms.speciality.errors.required">
                  Speciality is required
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="gender">Gender</label>
              <select
                formControlName="gender"
                id="gender"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && forms.gender.errors
                }"
              >
                <option value="">Select</option>
                <option *ngFor="let item of genders$">
                  {{ item.name }}
                </option>
              </select>
              <div
                *ngIf="submitted && forms.gender.errors"
                class="invalid-feedback"
              >
                <div *ngIf="forms.gender.errors.required">
                  Gender is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="email">Email</label>
              <input
                formControlName="email"
                id="email"
                type="text"
                class="form-control"
                placeholder="Email"
                [ngClass]="{ 'is-invalid': submitted && forms.email.errors }"
              />
              <div
                *ngIf="submitted && forms.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="forms.email.errors.required">Email is required</div>
                <div *ngIf="forms.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="mobileNumber">Mobile Number</label>
              <input
                formControlName="mobileNumber"
                id="mobileNumber"
                type="text"
                class="form-control"
                placeholder="Mobile Number"
                [ngClass]="{
                  'is-invalid': submitted && forms.mobileNumber.errors
                }"
              />
              <div
                *ngIf="submitted && forms.mobileNumber.errors"
                class="invalid-feedback"
              >
                <div *ngIf="forms.mobileNumber.errors.required">
                  Mobile Number is required
                </div>
                <div *ngIf="forms.mobileNumber.errors.minlength">
                  Mobile Number must have 10 digits
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="dateOfBirth">Date of birth</label>
              <div class="input-group">
                <input
                  id="dateOfBirth"
                  class="form-control"
                  formControlName="dateOfBirth"
                  ngbDatepicker
                  #dateOfBirth="ngbDatepicker"
                  placeholder="yyyy-mm-dd"
                  [ngClass]="{
                    'is-invalid': submitted && forms.dateOfBirth.errors
                  }"
                />

                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="dateOfBirth.toggle()"
                    type="button"
                  ></button>
                </div>
                <div
                  *ngIf="submitted && forms.dateOfBirth.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="forms.dateOfBirth.errors.required">
                    Date Of Birth is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="practiceSince">Practice Since</label>
              <div class="input-group">
                <input
                  id="practiceSince"
                  class="form-control"
                  formControlName="practiceSince"
                  [ngClass]="{
                    'is-invalid': submitted && forms.practiceSince.errors
                  }"
                  ngbDatepicker
                  placeholder="yyyy-mm-dd"
                  #practiceSince="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="practiceSince.toggle()"
                    type="button"
                  ></button>
                </div>
                <div
                  *ngIf="submitted && forms.practiceSince.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="forms.practiceSince.errors.required">
                    PracticeSince is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="address">Address</label>
              <textarea
                formControlName="address"
                id="address"
                type="text"
                class="form-control"
                placeholder=""
                [ngClass]="{ 'is-invalid': submitted && forms.address.errors }"
              ></textarea>
              <div
                *ngIf="submitted && forms.address.errors"
                class="invalid-feedback"
              >
                <div *ngIf="forms.address.errors.required">
                  Address is required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group mr-auto">
            <button type="button" class="btn btn-sm btn-light panel-heading">
              Add Multiple
            </button>
            <button type="button" class="btn btn-sm btn-success">
              <i class="fa fa-upload" aria-hidden="true"></i>Upload Excel
            </button>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary">
              <!-- ng-click="save(formValues)" -->
              <!-- (click)="modal.close('Save click')" -->
              <i class="fa fa-stethoscope" aria-hidden="true"></i>Add Doctor
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>