.searchcontent {
  margin-top: 65px;
}

.pharmacyButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.doctorButton {
  background-color: rgb(2, 117, 216);
  border: none;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 150px;
}

.panel-heading {
  color: rgb(2, 117, 216);
  /* color: skyblue; */
}
